/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*{
  margin: 0 ;
  padding: 0;
}
*::before{
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}
html{
  font-size:62.5%;
}
body{
  font-size: 1.6rem;
  background: #000;
}
li{
  list-style: none;

}
a{
  text-decoration: none;
  color: darkgrey;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 9vh;
  background-color: rgb(0, 28,73);
}
.nav__brand{
  text-transform: uppercase;
  font-weight: bold;
}
.nav__menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler div{
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background-color: darkgrey;
  transition: 0.4s ease-in;
}
.nav__toggler{
  cursor: pointer;
  display: none;
}
@media screen and (max-width:768px) {
  .nav__toggler{

      display: block;
      
  }
  /* .nav{
    height: 6vh;
  } */
  .nav__menu{
      position: fixed;
      top: 7vh;
      right: 0;
      width: 50%;
      height: 93vh;
      transform: translateX(100%);
      background-color:rgb(0, 28,73) ;
      flex-direction: column;
      transition: 0.5s ease-in;
  }

  
}
/* Nav Active Class */

.nav__active{
  transform: translateX(0);
}

/* Toggler  Icon Animation */


.toggle .line1{
  transform: rotate(-45deg) translate(-4px,5px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-4px,-5px);
  }


